force-app/main/default/flows/Trigger_Approval_Process_with_Data_Set_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>551</locationX>
        <locationY>53</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>CollVariable</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>ApprovalProcessName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>CollVarDataSetOwnerId</name>
        <label>CollVarDataSetOwnerId</label>
        <locationX>412</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>CollVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DataSetOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Get Data Set Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Approval Process with Data Set Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Data Set Id</description>
        <name>Get_Data_Set_Id</name>
        <label>Get Data Set Id</label>
        <locationX>143</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Set_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Data_Set__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Set_Owner</name>
        <label>Get Data Set Owner</label>
        <locationX>267</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollVarDataSetOwnerId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseDetails.Data_Set__c</elementReference>
            </value>
        </filters>
        <object>Data_Set__c</object>
        <outputAssignments>
            <assignToReference>DataSetOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>40</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Data_Set_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Case_Resolution_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CollVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DataSetid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Data_Set__c</objectType>
    </variables>
    <variables>
        <name>DataSetOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
